<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
      <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name"/>
    </div>
      <div>
    <label for="hero-age">Hero age: </label>
    <input id="hero-age" [(ngModel)]="hero.age" placeholder="Hero age"/>
    </div>
      <div>
    <label for="hero-gender">Hero gender: </label>
    <input id="hero-gender" [(ngModel)]="hero.gender" placeholder="Hero gender"/>
    </div>
      <div>
    <label for="hero-specific-marks<">Hero specific marks: </label>
    <input id="hero-specific-marks" [(ngModel)]="hero.specific_marks" placeholder="Hero specific marks"/>
    </div>
      <div>
    <label for="hero-note">Hero note: </label>
    <input id="hero-note" [(ngModel)]="hero.note" placeholder="Hero note"/>
    </div>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>